// @import "../../App.scss";

div#root > footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
  border-top: 1px solid black;
  padding: 1rem 0;
  background-image: url("/banner.jpg");
  background-position: center;
  background-size: cover;
  color: #fff;
  > div.footer-copy {
    width: 100%;
    text-align: center;
    margin: 1.5rem 0 0 0;
    padding: 1rem 0 0 0;
    border-top: 1px solid #fff;
    > div.footer-conteiner {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      width: 90%;
      margin: 0 auto;
      > div.footer-copyright,
      div.footer-developed-by {
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 0.2rem;
      }
      > div.footer-copyright {
        font-size: 1rem;
      }
      > div.footer-developed-by {
        font-size: 0.8rem;
      }
    }
  }
}
