.auth-panel {
	display: flex;
	justify-content: space-around;
}

.auth-panel button {
	background-color: rgba(0, 0, 0, 0);
	text-transform: uppercase;
	color: rgb(255, 255, 255);
	text-align: left;
	margin: 0 0.5em;
	padding: 0.5em 1em;
	border: 1px solid;
	cursor: pointer;
}

.regisetr-modal .bg-overlay {
  position: absolute;
  left: 0;
  height: 100vh;
  width: 100%;
  background: #0000007d;
  top: 0;
  z-index: 1;
}

.regisetr-modal .modal-form {
	display: flex;
	flex-direction: column;
  position: absolute;
  width: 400px;
  top: 25%;
  left: 50%;
  transform: translate(-50%);
  padding: 2rem 2.5rem;
  border: 1px solid #fff;
  background-color: #090a0cd9;
  z-index: 1;
}

.regisetr-modal form {
	display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;

}

.regisetr-modal .modal-form p {
	border: 1px solid rgb(226, 68, 68);
	color: rgb(226, 68, 68);
	text-transform: uppercase;
	padding: .5rem;
	font-size: 1em;
	letter-spacing: .05em;
	word-spacing: 0.1em;
	margin: 0 0 1em;
}
.regisetr-modal form label {
  color: #fff;
  margin: 0.8rem 0 0.4rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.regisetr-modal form label:nth-child(1) {
  margin-top: 0;
}

.regisetr-modal form input {
  padding: 0.3rem;
}
.regisetr-modal form input::placeholder {
  text-transform: uppercase;
}

.regisetr-modal form .form-btns {
  display: flex;
  justify-content: space-around;
}

.regisetr-modal form .form-btns button {
  text-align: center;
  padding: 0.5rem 2rem;
  margin: 1.5rem 0 0;
  border: 1px solid #fff;
  width: unset;
  cursor: pointer;
}

