div#root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  > header {
    min-height: 400px;
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  > main {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin: 3rem auto;
  }
  > footer {
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}

main {
  max-width: 1366px;
  margin: 0 auto;
  color: #777777;
  font-family: "Source Sans Pro";
}
