div#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  > header {
    min-height: 400px;
    position: relative;
    flex-direction: column;
  }
  > main {
    flex-grow: 1;
    margin: 3rem auto;
  }
  > footer {
    flex-shrink: 0;
  }
}

main {
  max-width: 1366px;
  margin: 0 auto;
  color: #777777;
  font-family: "Source Sans Pro";
}
