// @import "../../App.scss";
$text-color-nav: #fff;
$text-color-nav-hoevr: #000;
$border-color-nav: #fff;
$border-color-nav-hoevr: #000;

$background-color-nav: #fff;
$background-color-icons: #000;

$text-color-main-H2: #777;
$border-color-main-H2: #000;

@mixin border-header {
  display: inline-block;
  padding: 0.2rem 0.5rem;
  border: 1px solid #fff;
}

@mixin info {
  > li {
    display: flex;
    align-items: center;
    > a {
      text-decoration: none;
      letter-spacing: 0.1rem;
      font-weight: 400;
      padding: 0 0.2rem;
      color: #fff;
      font-size: 1rem;
      > i.icon {
        display: flex;
        width: 1rem;
        height: 1rem;
        margin: 5px;
        align-items: center;
        justify-content: center;
        background-color: $background-color-icons;
        border-radius: 100%;
        font-size: 1.5rem;
        padding: 1.5rem;
      }
    }
  }
}

div#root > header {
  > section.contact-information {
    overflow: hidden;
    position: absolute;
    right: 10px;
    top: 30px;
    > ul {
      display: flex;
      flex-direction: column;
      @include info;
      > li > a {
        margin: 5px 0;
      }
    }
  }
}

div#root > footer {
  > div.container {
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: space-between;
    > section.contact-information {
      overflow: hidden;
      min-width: 300px;
      border: 1px solid #fff;
      padding: 0 0 1rem 0;
      > header {
        display: flex;
        justify-content: center;
        margin: 1rem auto;
        padding: 0 0.5rem;
        > h3 {
          @include border-header;
          min-width: 100px;
          text-align: center;
          text-transform: uppercase;
          font-weight: 400;
          letter-spacing: 0.1rem;
          font-size: 1.2rem;
          color: #fff;
        }
      }
      > ul {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-around;
        @include info;
      }
    }
  }
}
