// @import url("../../App.scss");

$text-color-nav: #fff;
$text-color-nav-hoevr: #000;
$border-color-nav: #fff;
$border-color-nav-hoevr: #000;
$background-color-nav: #fff;

$background-color-icons: #000;

$text-color-main-H2: #777;
$border-color-main-H2: #000;

@mixin border-header {
  display: inline-block;
  padding: 0.2rem 0.5rem;
  border: 1px solid #fff;
}
@mixin flex-around {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
@mixin flex-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@mixin h2-on-page {
  padding: 0.25rem 1rem 0.25rem 1.2rem;
  margin: 1.5rem 0 1.5rem 0;
  border: 1px solid $border-color-main-H2;
  font-size: 2rem;
  font-weight: 400;
  color: $text-color-main-H2;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

section.comments > article {
  border-bottom: 1px solid #c0bfbf;
  padding: 1rem 0;
  margin-bottom: 1rem;
  > .comment {
    &-posted {
      @include flex-between;
      text-transform: uppercase;
      font-size: 0.8rem;
      letter-spacing: 0.15rem;
      > footer,
      span {
        @include border-header;
        min-width: 100px;
        text-align: center;
      }
    }
    &-content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      > img {
        display: block;
        width: 70px;
        height: 70px;
        margin: 1rem 0 1rem;
        background-color: #ed786a;
        border-radius: 100%;
      }
      > p {
        color: #000000;
        margin: 1rem 0.5rem 1rem 1rem;
        padding: 0.5rem 0 0.5rem 1rem;
        border-left: 1px solid rgb(119, 119, 119);
        min-height: 70px;
        width: calc(100% - 90px);
        line-height: 1.5rem;
      }
      > button {
        height: 25px;
        width: 25px;
        margin: auto 0px 0 0;
        border: 0;
        border-radius: 40%;
        background-color: #f35d5d;
        cursor: pointer;
        -webkit-transition: 0.2s;
        transition: 0.2s;
        &:hover {
          border-radius: 0;
        }
      }
    }
  }
}
