@import url("../../App.scss");

@mixin border-header {
  display: inline-block;
  padding: 0.2rem 0.5rem;
  border: 1px solid #fff;
}

article.post {
  > header > h2 {
    @include border-header;
    margin: 0 0 1rem 0;
    text-align: left;
    text-transform: uppercase;
    font-size: 1.65rem;
    font-weight: 400;
    letter-spacing: 0.15rem;
    line-height: 1.75rem;
  }
  .post {
    &-img {
      position: relative;
      overflow: hidden;
      width: 100%;
      height: 350px;
      border: solid 6px #ebebeb;
      img {
        position: absolute;
        width: 100%;
        left: 50%;
        top: 50%;
				transform: translate(-50%, -50%);
      }
			@media (max-width: 768px) {
				max-width: 700px;
				height: 250px;
				margin: 0 auto;
			}
			@media (max-width: 500px) {
				width: 400px;
				height: 250px;
			}
			@media (max-width: 500px) {
				width: 300px;
				height: 200px;
			}
    }
    &-desc {
      width: 100%;
      margin: 2rem auto;
      > h3 {
        @include border-header;
				margin: 1.25rem 0;
				padding: 0.5rem 0;
				border: 0;
        text-transform: uppercase;
				color: #777777;
        font-size: 1.3rem;
        font-weight: 600;
				letter-spacing: 2px;
				@media (max-width: 768px) {
					margin-top: 0;
					margin-bottom: 0.5rem;
					font-size: 1.1rem;
					letter-spacing: 0;
					word-spacing: 2px;
				}
      }
      > p {
				font-size: 1.2rem;
				font-weight: 400;
				line-height: 1.75rem;
				text-align: justify;
				@media (max-width: 768px) {
					margin-bottom: 1rem;
					font-size: 1rem;
					line-height: 1.4;
				}
      }
		}
	}
			@media (max-width: 768px) {
				width: 90% !important;
				padding: unset !important;
				background-color: unset !important;
			}
  > button {
    display: inline-block;
    padding: 1rem 2rem;
    margin-bottom: 2rem;
    border-radius: 4px;
    border: 0;
    background: #ed786a;
    box-shadow: 0.125rem 0.175rem 0 0 #00000020;
    outline: 0;
    transition: 0.33s;
    cursor: pointer;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    font-size: 1rem;
    letter-spacing: 2px;
    &:hover {
      background: #fd9589;
    }
    &:active {
      background: #ed786a;
    }
	}

}
