// @import "../../App.scss";

$text-color-nav: #fff;
$text-color-nav-hoevr: #000;
$border-color-nav: #fff;
$border-color-nav-hoevr: #000;
$background-color-nav: #fff;

@mixin flex-around {
  display: flex;
  align-items: center;
  justify-content: space-around; 
}

@mixin flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin nav-bar {
  > ul {
    @include flex-around;
    width: 100%;
    list-style: none;
    > li {
      display: flex;
      align-items: center;
      text-transform: uppercase;
      transition: .3s;
      height: 100%;
      width: 100%;
       > a {
        color: $text-color-nav;
        text-decoration: none;
        letter-spacing: 0.20rem;
        font-weight: 100;
        padding: 0 10px;
        font-size: 1rem;
        width: 100%;
        text-align: center;
       }
      &:hover {
        height: 60px;
        background-color: $background-color-nav;
        a {
          color: $text-color-nav-hoevr;
         }
      }
    }
  }
}

div#root > header {
  > div {
    @include flex-between;
    width: 80%;
    max-width: 1366px;
    margin: 0 auto;
    > nav {
      display: flex;
      width: 80%;
      max-width: 768px;
      height: 60px;
      margin: 2rem;
      border: 1px solid $border-color-nav;
      border-radius: 10px;
      padding: 1rem 0;
      overflow: hidden;
      @include nav-bar;
    }
  }
}

div#root > footer {
	> div.container {
		display: flex;
		width: 90%;
		align-items: center;
		justify-content: space-between;
		> nav {
			display: flex;
			width: 25%;
			min-width: 370px;
			height: 50px;
			margin: 2rem;
			border: 1px solid $border-color-nav;
			border-radius: 10px;
			padding: 0.8rem 0;
			overflow: hidden;
			@include nav-bar;
		}
	}
}