// @import "../../App.scss";

div#root > header {
  > div {
    > .logo {
      overflow: hidden;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 130px;
      height: 60px;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin: 2rem 0;
      margin: 0 5% 0 0;
      border-radius: 10px;
      background-color: rgba(0, 0, 0, 0.59);
      @media (max-width: 768px) {
        min-width: 115px;
      }
      > a {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        img {
          width: 100%;
          -o-object-fit: cover;
             object-fit: cover;
        }
      }
    }
  }
}
