// @import "../../App.scss";

div#root > header {
  > div {
    > .logo {
			margin: 2rem 0;
			background-color: rgba(0, 0, 0, 0.59);
			border-radius: 10px;
			width: 130px;
			height: 60px;
			display: flex;
			justify-content: center;
			margin: 0 5% 0 0;
			overflow: hidden;
			@media (max-width: 768px) {
				min-width: 115px;
			}
      > a {
        display: flex;
        img {
          width: 100%;
          object-fit: cover
        }
      }
    }
  }
}