@import url("../../App.scss");

@mixin border-header {
  display: inline-block;
  padding: 0.2rem 0.5rem;
  border: 1px solid #fff;
}

section.latest-posts {
  > div.container {
		> div {
			width: 75%;
      div.latest-posts-container {
			display: flex;
			overflow: hidden;
			flex-wrap: wrap;
			flex: 3;
			justify-content: space-between;
      > article {
        overflow: hidden;
				min-height: 350px;
        position: relative;
        transition: 0.3s;
        color: #fff;
        cursor: pointer;
        border-radius: 5px;
				padding-bottom: 4rem;
				margin: 2% 1.5%;
				flex: 1;
				min-width: 300px;
				max-width: 47%;
        > div.bg-post-img {
          position: absolute;
          width: 100%;
          height: 100%;
          transition: 1s;
          top: 0;
          z-index: -1;
          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
          }
          span {
            position: absolute;
            display: block;
            background-color: rgba(0, 0, 0, 0.301);
            width: 100%;
            height: 100%;
          }
        }
        > header {
          text-align-last: left;
          > h3 {
            @include border-header;
            margin: 1rem;
            border: 1px solid #fff;
            background-color: rgba(0, 0, 0, 0.267);
            text-transform: uppercase;
            letter-spacing: 0.1rem;
            font-weight: 400;
            text-align: left;
          }
        }
        > p {
          margin: 1rem;
          border: 1px solid #fff;
          background-color: rgba(0, 0, 0, 0.267);
          padding: 0.6rem 0.5rem;
          text-align: center;
          line-height: 1.5;
        }
        &:hover {
          border-radius: 25px;
        }
        button {
          position: absolute;
          padding: 0.3rem 0.5rem;
          bottom: 1.5rem;
          left: 1rem;
          color: #ffffff;
          border: 1px solid #fff;
          background-color: #00000044;
          transition: 0.33s;
          cursor: pointer;
          text-transform: uppercase;
          outline: 0;
          font-weight: 400;
          font-size: 1rem;
          letter-spacing: 2px;
          &:hover {
            background-color: #000000c0;
          }
        }
      }
    }
  }
}
}
