.pagination {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  > button {
    display: inline-block;
    padding: 0.3rem 0.7rem;
    margin: 0.5rem 0.5rem;
    border-radius: 4px;
    border: 0;
    background: rgb(237, 120, 106);
    box-shadow: 0.125rem 0.175rem 0 0 #00000020;
    outline: 0;
    transition: 0.33s;
    color: rgb(255, 255, 255);
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    font-size: 1rem;
    &:hover {
      background: rgb(253, 149, 137);
    }
    &:active {
      background: rgb(237, 120, 106);
    }
  }
}
