// @import "../../App.scss";

$break-x-large: 1920px;
$break-m-large: 1620px;
$break-large: 1440px;
$break-medium: 1024px;
$break-small: 768px;
$break-x-small: 500px;

@mixin flex-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

div#root > header {
	@include flex-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 50vh;
	max-height: 500px;
	min-height: 460px;
  background-image: url("/banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 150%;
	-webkit-transition: 1s;
	transition: 1s;
	@media (max-width: $break-m-large) {
		background-size: auto 125%;
	}
	@media (max-width: $break-large) {
		background-size: auto 110%;
	}
	@media (max-width: $break-medium) {
		background-size: auto 100%;
	}
	@media (max-width: $break-small) {
		height: 35vh;
		min-height: unset;
	}
  &:hover {
		background-size: auto 160%;
		@media (max-width: $break-m-large) {
			background-size: auto 135%;
		}
		@media (max-width: $break-large) {
			background-size: auto 120%;
		}
		@media (max-width: $break-medium) {
			background-size: auto 110%;
		}
		@media (max-width: $break-medium) {
			background-size: auto 110%;
		}
	}
  > h1 {
    padding: 0.5rem 1rem;
		margin-bottom: 5rem;
    border: 1px solid #fff;
    color: #fff;
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 0.15rem;
		@media (max-width: $break-x-small) {
			font-size: 1.5rem;
		}
  }
  > div {
    @include flex-between;
		width: 90%;
    max-width: 1280px;
		margin: 2rem auto;
		
  }
}