@import "./index.scss";

$text-color-nav: #fff;
$text-color-nav-hoevr: #000;
$border-color-nav: #fff;
$border-color-nav-hoevr: #000;
$background-color-nav: #fff;

$background-color-icons: #000;

$text-color-main-H2: #777;
$border-color-main-H2: #000;


@mixin border-header {
  display: inline-block;
  padding: 0.2rem 0.5rem;
  border: 1px solid #fff;
}
@mixin flex-around {
  display: flex;
  align-items: center;
  justify-content: space-around; 
}
@mixin flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@mixin h2-on-page {
  text-align: center;
  margin: 1.5rem 0 1.5rem 0 ;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: 400;
  border: 1px solid $border-color-main-H2;
  color: $text-color-main-H2;
  padding: 0.25rem 1rem 0.25rem 1.2rem;
}
@mixin info {
  > li {
    display: flex;
    align-items: center;
    > a {
      text-decoration: none;
      letter-spacing: 0.1rem;
      font-weight: 400;
      padding: 0 0.2rem;
      color: #fff;
      font-size: 1rem;
        > i.icon {
        display: flex;
        width: 1rem;
        height: 1rem;
        margin: 5px;
        align-items: center;
        justify-content: center;
        background-color: $background-color-icons;
        border-radius: 100%;
        font-size: 1.5rem;
        padding: 1.5rem;
      }
    } 
  }
}
@mixin nav-bar {
  > ul {
    @include flex-around;
    width: 100%;
    list-style: none;
    > li {
      display: flex;
      align-items: center;
      text-transform: uppercase;
      transition: .3s;
      height: 100%;
      width: 100%;
       > a {
        color: $text-color-nav;
        text-decoration: none;
        letter-spacing: 0.20rem;
        font-weight: 100;
        padding: 0 10px;
        font-size: 1rem;
        width: 100%;
        text-align: center;
       }
      &:hover {
        height: 60px;
        background-color: $background-color-nav;
        a {
          color: $text-color-nav-hoevr;
         }
      }
    }
  }
}

div#root  {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	> header {
		min-height: 400px;
		position: relative;
		flex-direction: column;
	}
	> main { 
		flex-grow: 1;
	}
	> footer { 
		flex-shrink: 0; 
	}
}

main {
  max-width: 1024px;
  min-width: 768px;
  margin: 0 auto;
  color: #777777;
  font-family: 'Source Sans Pro';
}