@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:light,regular,bold,italic&subset=latin,latin-ext');
$text-color-nav: #fff;
$text-color-nav-hoevr: #000;
$border-color-nav: #fff;
$border-color-nav-hoevr: #000;
$background-color-nav: #fff;

$background-color-icons: #000;

$text-color-main-H2: #777;
$border-color-main-H2: #000;

$text-color-main-H1: #fff;
$border-color-main-H1: #fff;


@mixin border-header {
  display: inline-block;
  padding: 0.2rem 0.5rem;
  border: 1px solid #fff;
}
@mixin flex-around {
  display: flex;
  align-items: center;
  justify-content: space-around; 
}
@mixin flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@mixin h2-on-page {
  text-align: center;
  margin: 1.5rem 0 1.5rem 0 ;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: 400;
  border: 1px solid $border-color-main-H2;
  color: $text-color-main-H2;
  padding: 0.25rem 1rem 0.25rem 1.2rem;
}
@mixin info {
  > li {
    display: flex;
    align-items: center;
    > a {
      text-decoration: none;
      letter-spacing: 0.1rem;
      font-weight: 400;
      padding: 0 0.2rem;
      color: #fff;
      font-size: 1rem;
        > i.icon {
        display: flex;
        width: 1rem;
        height: 1rem;
        margin: 5px;
        align-items: center;
        justify-content: center;
        background-color: $background-color-icons;
        border-radius: 100%;
        font-size: 1.5rem;
        padding: 1.5rem;
      }
    } 
  }
}

@mixin nav-bar {
  > ul {
    @include flex-around;
    width: 100%;
    list-style: none;
    > li {
      display: flex;
      align-items: center;
      text-transform: uppercase;
      transition: .3s;
      height: 100%;
      width: 100%;
       > a {
        color: $text-color-nav;
        text-decoration: none;
        letter-spacing: 0.20rem;
        font-weight: 100;
        padding: 0 10px;
        font-size: 1rem;
        width: 100%;
        text-align: center;
       }
      &:hover {
        height: 60px;
        background-color: $background-color-nav;
        a {
          color: $text-color-nav-hoevr;
         }
      }
    }
  }
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro';
}

header {
  > section.contact-information {
    overflow: hidden;
    width: 100%;
    > ul {
      display: flex;
      margin: 0 1rem 1rem 0;
      > div {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        @include info;
      }
    }
  }
}

body > div#root  {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  > header {
    min-height: 400px;
    position: relative;
    flex-direction: column;
  }
  > main { 
    flex-grow: 1;
  }
  > footer { 
    flex-shrink: 0; 
  }
}

body > div#root > header {
  flex-direction: column;
  @include flex-between;
  height: 70vh;
  background-image: url("/banner.jpg");
  background-position: center;
  background-size: cover;
  > h1 {
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 100;
    border: 1px solid $text-color-main-H1;
    color: $border-color-main-H1;
    letter-spacing: 0.15rem;
    padding: 0.5rem 1rem;
  }
  > div {
    @include flex-between;
    width: 80%;
    max-width: 1366px;
    margin: 0 auto;
    > .logo {
      margin: 2rem;
      background-color: rgba(0, 0, 0, 0.66);
      border-radius: 10px;
      width: 130px;
      height: 60px;
      display: flex;
      justify-content: center;
      > a {
        display: flex;
        img {
          width: 100%;
          object-fit: cover
        }
      }
    }
    > nav {
      display: flex;
      width: 80%;
      max-width: 768px;
      height: 60px;
      margin: 2rem;
      border: 1px solid $border-color-nav;
      border-radius: 10px;
      padding: 1rem 0;
      overflow: hidden;
      @include nav-bar;
    }
  }
}

nav.top-after-before {
  margin: 1rem;
  ul {
    width: 300px;
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
    li {
      width: 100%;
      padding: 0.5rem;
      list-style: none;
      text-transform: uppercase;
      font-weight: 600;
      border-right: 1px solid black;
      text-align: center;
      cursor: pointer;
      position: relative;
      overflow: hidden;
      &:last-child {
        border-right: none;
      }
      &:before, &:after {
        content: '';
        width: 100%;
        height: 50%;
        display: block;
        position: absolute;
        left: 0;
        z-index: -1;
        transition: .2s;
        background: rgba(175, 120, 120, 0.623);
      }
      &:before {
        top: -100%;
      }
      &:after {
        top: 100%;
      }
      &:hover:before {
        top: 0%;
        transition: .2s;    
      }
      &:hover:after {
        top: 50%;
        transition: .2s;
      }
    }
  }
}

main {
  // for separate post
  width: 50%;
  max-width: 1024px;
  min-width: 768px;

  // for home page
  // width: 100%;

  margin: 0 auto;
  color: #777777;
  font-family: 'Source Sans Pro';
  > article.post {
    // display: none;

    width: 100%;
    margin: 1rem auto 4rem;
    background-color: rgb(249, 249, 249);
    padding: 15px 50px;
    box-shadow: 
      inset 0px -3px 0px 0px #e5e5e5, 
      inset 0px -17px 0px 0px #fff, 
      inset 0px -20px 0px 0px #e5e5e5;
      padding-bottom: 2rem;
    > header > h2 {
      @include border-header;
      margin: 0 0 1rem 0;
      text-align: left;
      text-transform: uppercase;
      font-size: 1.65rem;
      font-weight: 400;
      letter-spacing: 0.15rem;
      line-height: 1.75rem;
    }
    .post {
      &-img {
        width: 100%;
        height: 350px;
        position: relative;
        border: solid 6px #ebebeb;
        overflow: hidden;
        img {
          position: absolute;
          width: 100%;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }
      &-desc {
        width: 100%;
        margin: 2rem auto;
        > h3 {
          @include border-header;
          font-size: 1.3rem;
          letter-spacing: 2px;
          margin: 0 0 1.25rem 0;
          text-transform: uppercase;
          font-weight: 600;
          color: #777777;
        }
        > p {
          font-size: 1.1rem;
          font-weight: 100;
          line-height: 1.65rem;
          text-align: justify;
        }
      }
    }
    > button {
      display: inline-block;
      cursor: pointer;
      background: #ed786a;
      color: #ffffff;
      text-transform: uppercase;
      border-radius: 4px;
      border: 0;
      outline: 0;
      box-shadow: 0.125rem 0.175rem 0 0 #00000020;
      font-weight: 600;
      text-align: center;
      font-size: 1rem;
      letter-spacing: 2px;
      padding: 1rem 2rem;
      margin-bottom: 2rem;
      transition: .33s;
      &:hover {
        background: #fd9589;
      }
      &:active {
        background: #ed786a;
      }
    }
  }
  > section.comments {
    // display: none;
    > h3 {
      display: inline-block;
      margin: 0 0 1rem 0;
      border-bottom: 0.05rem solid #d3d3d3;
      text-align: left;
      text-transform: uppercase;
      font-size: 1.65rem;
      font-weight: 400;
      letter-spacing: 0.1rem;
      line-height: 1.75rem;
    }
    > article {
      border-bottom: 1px solid #c0bfbf;
      padding: 1rem 0;
      margin-bottom: 1rem;
      > .comment {
        
        &-posted {
          @include flex-between;
          text-transform: uppercase;
          font-size: 0.8rem;
          letter-spacing: 0.15rem;
           > footer, span {
            @include border-header;
            min-width: 100px;
            text-align: center;
           }
        }
        &-content {
          display: flex;
          align-items: center;
           > img {
            display: block;
            margin: 1rem 0 1rem;
            background-color: #ed786a;
            width: 70px;
            height: 70px;
            border-radius: 100%;
           }
           > p {
            color: #000000;
            margin: 1rem 0.5rem 1rem 1rem;
            padding: 0.5rem 0 0.5rem 1rem;
            border-left: 1px solid rgb(119, 119, 119);
            min-height: 70px;
            width: calc(100% - 90px);
            line-height: 1.5rem;
           }
        } 
      }
    }
  }
  section.popular-posts {
    flex-direction: column;
    display: flex;
    align-items: center;
    width: 90%;
    max-width: 1366px;
    margin: 0 auto;
    > header {
      > h2 {      
        @include h2-on-page;
      }
    }
    > div {
      display: flex;
      > article {
        width: 33.3%;
        overflow: hidden;
        margin: 1rem 1.5rem;
        box-shadow: 0 0 20px 0px #0000003d;
        transition: .3s;
        cursor: pointer;
         > figure {
          margin-bottom: 1.5rem;
           img {
            width: 100%;
            border: solid 5px #ebebeb;
          
          }
        }
        &:nth-child(1) {
          margin-left: 0;
        }
        &:nth-child(3) {
          margin-right: 0;
        }
        > div {
          h3 {
            text-transform: uppercase;
            text-align: center;
            font-size: 1rem;
            letter-spacing: 2px;
            margin: 0 0 1.25rem 0;
            color: #666;
          }
          p {
            color: #666;
            line-height: 1.5;
            text-align: center;
            padding: 0 1rem 2rem;
            font-weight: 100;
          }
        }
        &:hover {
          box-shadow: 1px 1px 20px 1px #0000003d;
          margin-top: -0.1rem;
        }
      }
    }
  }
  section.latest-posts {
    width: 90%;
    max-width: 1366px;
    margin: 0 auto;
    header {
      width: 100%;
      text-align: center;
      h2 {
        @include h2-on-page;
        display: inline-block;
      }
    }
    > div.container {
      @include flex-between;
      align-items: flex-start;
      min-height: 1000px;
      margin: 20px 0;
      > div.latest-posts-container {
        display: flex;
        width: 70%;
        overflow: hidden;
        flex-wrap: wrap;
        article {
          width: 46%;
          overflow: hidden;
          margin: 2rem 2%;
          min-height: 400px;
          position: relative;
          transition: .3s;
          color: #fff;
          cursor: pointer;
          border-radius: 5px;
          padding-bottom: 3rem;
          > div.bg-post-img {
            position: absolute;
            width: 100%;
            height: 100%;
            transition: 1s;
            top: 0;
            z-index: -1;
            img {
              height: 100%;
              width: 100%;
              object-fit: cover;
              object-position: center;
             }
            span {
              position: absolute;
              display: block;
              background-color: rgba(0, 0, 0, 0.301);
              width: 100%;
              height: 100%;
             }
          }
          > header {
            text-align-last: left;
            > h3 {
              @include border-header;
              margin: 1rem;
              border: 1px solid #fff;
              background-color: rgba(0, 0, 0, 0.267);
              text-transform: uppercase;
              letter-spacing: 0.1rem;
              font-weight: 400;
              text-align: left;
            }
          }
          > p { 
            margin: 1rem;
            border: 1px solid #fff;
            background-color: rgba(0, 0, 0, 0.267);
            padding: 0.6rem 0.5rem;
            text-align: center;
            line-height: 1.5;
          } 
          &:hover {
            border-radius: 25px;
          }
          button {
            position: absolute;
            padding: 0.3rem 0.5rem;
            bottom: 1.5rem;
            left: 1rem;
            color: #ffffff;
            border: 1px solid #fff;
            background-color: #00000044;
            transition: .33s;
            cursor: pointer;
            text-transform: uppercase;
            outline: 0;
            font-weight: 400;
            font-size: 1rem;
            letter-spacing: 2px;
            &:hover {
              background-color: #000000c0;
            }
          }
        }
      }
      > aside.latest-posts-bar {
        width: 25%;
        min-width: 250px;
        margin-left: 2%;
        margin-top: 2rem;
        transition: .3s;
        > header {
          > h4 {
            @include h2-on-page;
            padding: 0.25rem 0.5rem 0.25rem 0.7rem;
            font-size: 1rem;
            margin: 0 0 1rem 0;
          }
        }
        div.posts {
          display: flex;
          flex-direction: column;
          article {
            position: relative;
            border-bottom: 1px solid #000;
            margin: 1rem 0 0 0;
            padding: 1.5rem 0 4rem 0;
             > header {
               text-align-last: left;
               margin: 1rem 0;
               padding: 0 0.5rem;
               > h4 {
                 @include border-header;
                 min-width: 100px;
                 text-align: center;
                 text-transform: uppercase;
                 font-weight: 400;
                 letter-spacing: 0.1rem;
                 font-size: 1.1rem;
               }
             }
             > p {
              text-align: l;
              line-height: 1.5;
              letter-spacing: 0.05rem;
              font-weight: 100;
              color: #000;
              border-left: 1px solid black;
              border-right: 1px solid black;
              padding: 0 0.5rem;
             }
             > button {
              position: absolute;
              padding: 0.3rem 0.5rem;
              bottom: 0;
              margin: 1rem 0;
              border: 1px solid #000;
              background-color: #fff;
              transition: .33s;
              cursor: pointer;
              color: #777777;
              text-transform: uppercase;
              outline: 0;
              font-weight: 400;
              font-size: 0.7rem;
              letter-spacing: 2px; 
              margin-left: 1rem;
              &:hover {
                background-color: #e7e7e7c0;
              }
            }
          }
        }
        &:hover {
          box-shadow: 1px 20px 20px 0px #00000029;
          margin: 25px -3px 0 0;
        }
      }
    }
  }
}

body > div#root > footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  margin-top: 2rem;
  border-top: 1px solid black;
  padding: 1rem 0;
  background-image: url("/banner.jpg");
  background-position: center;
  background-size: cover;
  > div.container {
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: space-between;
    > nav {
      display: flex;
      width: 25%;
      min-width: 370px;
      height: 50px;
      margin: 2rem;
      border: 1px solid $border-color-nav;
      border-radius: 10px;
      padding: 0.8rem 0;
      overflow: hidden;
      @include nav-bar;
    }
    > section.contact-information {
      overflow: hidden;
      min-width: 300px;
      border: 1px solid #fff;
      padding: 0 0 1rem 0;
      > header {
        display: flex;
        justify-content: center;
        margin: 1rem auto;
        padding: 0 0.5rem;
        > h3 {
          @include border-header;
          min-width: 100px;
          text-align: center;
          text-transform: uppercase;
          font-weight: 400;
          letter-spacing: 0.1rem;
          font-size: 1.2rem;
          color: #fff;
        }
      }
      > ul {
        display: flex;
        flex-wrap: wrap;
         > div {
          display: flex;
          width: 100%;
          justify-content: space-around;
          @include info;
         }
      }
    }
  }
  > div.footer-copy {
    width: 100%;
    text-align: center;
    margin: 1.5rem 0 0 0;
    padding: 1rem 0 0 0;
    border-top: 1px solid #fff;

    > div.footer-conteiner {
      display: flex;
      width: 90%;
      justify-content: space-between;
      margin: 0 auto;

      > div.footer-copyright{
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 0.2rem;
        font-size: 1rem;
      }
      > div.footer-developed-by {
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        font-size: 0.8rem;
      }
    }
  }
}

nav.top-after-before {
  margin: 1rem;
  ul {
    width: 300px;
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
    li {
      width: 100%;
      padding: 0.5rem;
      list-style: none;
      text-transform: uppercase;
      font-weight: 600;
      border-right: 1px solid black;
      text-align: center;
      cursor: pointer;
      position: relative;
      overflow: hidden;
      &:last-child {
        border-right: none;
      }
      &:before, &:after {
        content: '';
        width: 100%;
        height: 50%;
        display: block;
        position: absolute;
        left: 0;
        z-index: -1;
        transition: .2s;
        background: rgba(175, 120, 120, 0.623);
      }
      &:before {
        top: -100%;
      }
      &:after {
        top: 100%;
      }
      &:hover:before {
        top: 0%;
        transition: .2s;    
      }
      &:hover:after {
        top: 50%;
        transition: .2s;
      }
    }
  }
}